/* ///////////////////////////////////////////////APP COMPONENT/////////////////////////////////////////// */
#app {
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#loading {
  position: absolute;
  display: flex;
  top: 225px;
  left: 500px;
  font-size: 50px;
}

/*//////////////////////////////////////////// NAVBAR COMPONENT////////////////////////////////////////// */

#nav{
  position: relative;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 40px;
  background-color: #FF0000;
}

#link-pokedex{
  position: relative;
  left: 20px;
  top: -60px;
  margin-right: 80px;
  -webkit-text-fill-color: white;
  font-weight: bold;
  font-family: avenirnext-heavy;
  font-size: 30px;
  text-decoration: none;
}

#pokedex-logo{
  position: relative;
  max-height: 70px;
  max-width: 70px;
  top: 9px;
  left: -10px;
}

#link-track {
  position: relative;
  left: 20px;
  margin-right: 80px;
  -webkit-text-fill-color: white;
  font-weight: bold;
  font-family: avenirnext-heavy;
  font-size: 30px;
  top: -60px;
  text-decoration: none
}

#track-logo{
  position: relative;
  height: 95px;
  width: 160px;
  top: 32px;
  left: -50px;
}

#link-arena{
  position: relative;
  left: -70px;
  margin-right: 120px;
  -webkit-text-fill-color: white;
  font-weight: bold;
  font-family: avenirnext-heavy;
  font-size: 30px;
  top: -60px;
  text-decoration: none;
}

#arena-logo{
  position: relative;
  height: 60px;
  width: 100px;
  top: 16px;
  left: -10px;
}

#link-fav{
  position: relative;
  left: -115px;
  top: -60px;
  margin-right: 10px;
  -webkit-text-fill-color: white;
  font-weight: bold;
  font-family: avenirnext-heavy;
  font-size: 30px;
  text-decoration: none;
}

#fav-logo{
  position: relative;
  height: 45px;
  width: 70px;
  top: 13px;
  left: -10px;
}

#user-button{
  position: relative;
  top: -65px;
  width: 80px;
  height: 40px;
  font-weight: 800;
  border: none;
  border-radius: 10%;
}

/*//////////////////////////////////////////////// HOME COMPONENT//////////////////////////////////////////// */

#pokedex-search{
  position: relative;
  margin-left: 15px;
}

#list-container{
  background-color: #3b4cca;
  position: relative;
  top: 20px;
  padding-left: 15px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 100%;
  overflow: auto;
}

#details-container{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  left: 20px;
  margin-right: 20px;
  height: 100%;
  width: 95%;
  z-index: 99;
}

#details-card{
  position: relative;
  padding-top: 20px;
  justify-content: flex-start;
  display: flex;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 45%;
}

#hide-details{
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 80px;
}

#details-image{
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 50px;
  max-width: 60%;
  max-height: 60%;
}

#details-info{
  padding-top: 50px;
  padding-right: 10px;
  max-height: 50%;
  max-width: 50%;
}

#details-name{
  text-align: center;
}

#details-type{
  text-align: center;
}

#details-stats{
  padding-top: 30px;
}

.stats{
  position: relative;
}

#fav{
  position: relative;
  top: 150px;
  left: -100px;
}

#poke-item{
  border-style: solid;
  border-radius: 5px;
  margin: 3px;
  border-width: 1px;
  background-color: white;
  width: 100px;
  height: 150px;
}

#poke-name{
  text-align: center;
  font-size: 12px;
}

#pokemon-details-fixed{
  position: fixed;
  top: 25%;
  left: 15%;
  width: 68%;
}

#pokemon-details-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 5%;
  border-width: 10px;
  border-color: #ffcb05;
  top: -45px;
  background-color: white;
}

#close-details{
  position: relative;
  align-self: flex-end;
  top: 15px;
  right: 15px;
}

#pokemon-details-name{
  position: relative;
  font-size: larger;
  top: 0px;
}

#side-by-side-details{
  display: flex;
  flex-direction: row;
  margin: 3%;
  width: 100%;

}

#official-img{
  position: relative;
  height: 40%;
  min-height: 150px;
  width: 40%;
  min-width: 150px;
  top: -20px;
  margin-right: 20%;
  margin-left: 5%;

}

#pokemon-stats-container{
position: relative;
display: flex;
flex-direction: column;
font-size: 12px;
top: 0px;
font-weight: bold;
border-style: solid;
border-color: black;
border-width: 2px;
height: 250px;
width: 150px;
min-width: 100px;
align-items: center;
justify-content: center;
right: 5%;
}

#add-to-fav{
  position: relative;
  top: -15px;
}
/*////////////////////////////////////////////////// RACE COMPONENT /////////////////////////////////////////////*/

#race {
  background-color: black;
  -webkit-text-fill-color: white;
  font-family: avenirnext-heavy;
  font-size: 25px;
  position: relative;
  height: 50px;
  width: 100px;
  left: 670px;
  top: -30px;
  border-radius: 20%;
}

#track-background {
  position: relative;
  height: 500px;
}

#racers {
  position: relative;
  top: -10px;
}

#track-searchbar {
  position: relative;
  margin-left: 15px;
}

#track-submit {
  border-radius: 20%;
}

#opponents {
  position: relative;
  top: 20px;
  left: 1000px;
  border-radius: 20%;
}

#random-poke {
  position: relative;
  top: 20px;
  left: 0px;
  border-radius: 20%;
}

#random-fav {
  position: relative;
  top: 20px;
  left: 100px;
  border-radius: 20%;
}

#poke-track-display{
  transform: scaleX(-1);
  position: relative;
  z-index: 1000;
}

@keyframes sprint {
  from {
    trasform: translateX(0%);
  }
  to {
    transform: translateX(1325px);
  }
}

/* ///////////////////////////////////////////////BATTLE COMPONENT////////////////////////////////////////// */

#player-score{
  position: absolute;
  left: 560px;
  padding-top: 10px;
  width: 75px;
  height: 50px;
  font-size: 30px;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  z-index: 99;
  top: 225px;
  background-color: white;
}

#cpu-score{
  position: absolute;
  left: 810px;
  padding-top: 10px;
  width: 75px;
  height: 50px;
  font-size: 30px;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  z-index: 99;
  top: 225px;
  background-color: white;
}

#battle{
  position: relative;
  height: 50px;
  width: 100px;
  top: -30px;
  left: 670px;
  border-radius: 20%;
  z-index: 99;
  background-color: black;
  -webkit-text-fill-color: white;
  font-family: avenirnext-heavy;
  font-size: 25px;
}

#arena-container{
  position: relative;
  top: 150px;
  left: 220px;
  width: 1000px;
  height: 500px;
}

#player-poke{
  position: absolute;
  transform: scaleX(-1);
  top: 80px;
  width: 200px;
  height: 200px;
  left: 160px;
  text-align: center;
  z-index: 99;
}

#cpu-poke{
  position: absolute;
  top: 80px;
  width: 200px;
  height: 200px;
  left: 640px;
  text-align: center;
  z-index: 99;
}

#battle-searchbar{
  position: relative;
  margin-left: 15px;
}

#battle-searchbar-submit{
  border-radius: 20%;
}

#random-cpu{
  position: relative;
  top: 20px;
  left: 1000px;
  border-radius: 20%;
}

#random-player{
  position: relative;
  top: 20px;
  left: 37px;
  border-radius: 20%;
}

#random-fav{
  position: relative;
  top: 20px;
  left: 137px;
  border-radius: 20%;
}

#poke-battle-display{
  width: 75%;
  height: 75%;
}


/* ///////////////////////////////////////FAVORITES COMPONENT////////////////////////////////////////////// */

#fav-container{
  background-color: white;
  border-style: solid;
  border-color: #ffcb05;
  border-width: 6px;
  border-radius: 5px;
  width: 150px;
  height: 215px;
  margin: 10px;
}

#fav-name{
  font-family: sans-serif;
  font-size: 12px;
}

#poke-fav-img{
  position: relative;
  max-width: 120%;
  max-height: 120%;
  top: 10px;
  z-index: 99;
}

#img-base{
  position: relative;
  background-color: #3d7dca;
  border-radius: 100%;
  width: 100px;
  height: 40px;
  z-index: 88;
  left: 25px;
  top: -40px;
}

#delete-fav{
  position: relative;
  top: 0px;
}

#favorites-page-title-container{
  position: relative;
  left: 120px;
  top: 10px;
  width: 95%;
  height: 100%;
  text-align: center;
}

#fav-title-display{
  position: relative;
  border-style: solid;
  width: 150px;
  height: 50px;
  left: 522px;
  font-family: avenirnext-heavy;
  font-size: 25px;
  border-radius: 5px;
}

#fav-title{
  position: relative;
  top: -16px;
}

#fav-poke-display{
  position: relative;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 100%;
  overflow: auto;
}

#live{
  position: absolute;
  top: 200;
  left: 400;

}